@model AdministrationAdminPanelVm

@{
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
    ViewData["Title"] = "Admin Panel";

}

  <div class="main-content" style="margin-top: 6em; margin-bottom:10em;">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <h2 class="mb-2 text-white text-center">Hi, you are on admin panel page</h2>
        <span>Here you can edit, add and delete elements on your page</span>
        <div class="header-body">
         <div class="contain">
           <div class="row justify-content-center">
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0 " style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">User accounts registered </h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-user"></i> @Model.UserCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0" style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">Avaible Exercises</h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-dumbbell"></i> @Model.ExerciseCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

          <div class="row justify-content-center">
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0 " style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">Added Memberships</h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-coins"></i> @Model.MemebershipCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0" style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">Published announcements</h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-list"></i> @Model.AnnouncementCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

                  <div class="row justify-content-center">
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0 " style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">You've got new requests</h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-envelope"></i> @Model.RequestCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mt-5">
              <div class="card card-stats mb-4 mb-xl-0" style="background:rgb(0,0,0.91);">
                <div class="card-body" style="background:rgb(0,0,0.91);">
                  <div class="row">
                    <div class="col">
                      <h2 class="card-title text-light mb-0">Users achievements</h2>
                        <span class="h2 font-weight-bold text-danger mb-0"><i class="fa-solid fa-medal"></i> @Model.AchievementsCount</span>
                    </div>
                    <div class="col-auto">
                      <span class="badge rounded-pill bg-danger"><i class="fas fa-chart-bar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>